.card {
    margin: 30px 30px 30px 30px;
}

.finca:hover {
    transform: scale(1.01);
}

.finca {
    padding: 2rem;
    display: flex;
    max-width: 20rem;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    background: rgba(78, 73, 73, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.example-full-width {
    width: 100%;
    margin-top: 10px;
}

.parent {
    display: grid;
    place-items: center;
}

.btn-finca {
    margin: 2rem 0 0 2rem;
    width: 10rem;
}