.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/fondoRegistro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; */
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.finca:hover {
    transform: scale(1.01);
}

.finca {
    display: flex;
    max-width: 20rem;
    transition: all 0.2s;
    position: relative;
    background: rgba(78, 73, 73, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    color: white;
    margin: 2rem 3rem;
    padding: 2rem;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.45);
    border-radius: 12px;
    flex-direction: column;
}

.btn-finca {
    margin: 2rem 0 0 2rem;
    width: 10rem;
}