.card {
    margin: 30px 30px 30px 30px;
}

.finca {
    padding: 2rem;
    display: flex;
    max-width: 20rem;
}

.example-full-width {
    width: 100%;
    margin-top: 10px;
}

.parent {
    display: grid;
    place-items: center;
}

.btn-finca {
    margin: 2rem 0 0 2rem;
    width: 10rem;
}