<button class="btn-finca" mat-stroked-button color="basic" (click)="openDialog()">Crear Finca</button>
<div class="container">
    <ng-container *ngFor="let finca of fincas">
        <div (click)="detailState(finca.idCatastral)" class="finca" style="cursor: pointer">
            <h1>{{ finca.nombreFinca }}</h1>
            <img class="img" src="/assets/fondoRegistro.jpg" s alt="">
            <p class="info-item">
                <span>
                    Dirección
                </span>
                <span>
                    {{ finca.direccionFinca }}
                </span>
            </p>
            <p class="info-item">
                <span>
                    Observaciones
                </span>
                <span>
                    {{ finca.observaciones }}
                </span>
            </p>
        </div>
    </ng-container>
</div>