<div class="head">
    <span class="titulo">
        <h1>Lista de fincas del productor</h1>
        <button class="Btn" (click)="openDialog()">
            <div class="sign">+</div>
            <div class="text">Crear Finca</div>
        </button>
    </span>
</div>
<div class="container">
    <ng-container *ngFor="let finca of fincas">
        <div class="finca">

            <div (click)="detailState(finca.idCatastral)" style="cursor: pointer">

                <h1>{{ finca.nombreFinca }}</h1>
                <img class="img" [src]="dataUrl(finca.tipoImagen, finca.datosImagenFinca)" s alt="">
                <p class="info-item">
                    <span>
                        Dirección
                    </span>
                    <span>
                        {{ finca.direccionFinca }}
                    </span>
                </p>
                <p class="info-item">
                    <span>
                        Observaciones
                    </span>
                    <span>
                        {{ finca.observaciones }}
                    </span>
                </p>
            </div>
            <div class="actions">
                <button class="delete-btn" (click)="borrarFinca(finca.idCatastral)">
                    <svg viewBox="0 0 448 512" class="svgIcon">
                        <path
                            d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                        </path>
                    </svg></button>
            </div>
        </div>
    </ng-container>
</div>