.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/fincaDetalle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.titulo {
    color: white;
    margin: 2rem 3rem;
    padding: 2rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 12px;
}

.img {
    height: auto;
    max-height: 15rem;
    width: 100%;
    object-fit: cover;
}

.mapinfo {
    height: auto;
    display: flex;
    gap: 1rem;
}

#map {
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    height: 40rem;
    justify-self: center;
}

.info {
    height: 40rem;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 998px) {
    .mapinfo {
        flex-direction: column;
    }
    #map {
        max-width: 100%;
    }
    .info {
        max-width: 100%;
    }
}

@media (min-width: 998px) {
    .mapinfo {
        flex-direction: row;
    }
    #map {
        min-width: 550px;
    }
    .info {
        min-width: 550px;
    }
}

.info-item {
    margin: 0 0 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    span:first-child {
        font-weight: 500;
        font-size: 12px;
        color: #4F4F4F;
    }
}

.tabla {
    margin: 2rem 3rem;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}