<div class="parent">
  <div class="registro">
    <mat-card>
      <mat-card-title>Registro de usuario</mat-card-title>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nit de productor</mat-label>
              <input
                matInput
                placeholder="Sin dígito de verificación"
                [(ngModel)]="productor.nitProductor"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nombres del productor</mat-label>
              <input
                matInput
                placeholder="Ej. Juan Jose"
                [(ngModel)]="productor.nombreProductor"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Apellidos del productor</mat-label>
              <input
                matInput
                placeholder="Ej. Perez Perez"
                [(ngModel)]="productor.apellidosProductor"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Dirección del productor</mat-label>
              <input
                matInput
                placeholder="calle ____ vereda ____ municipio ____ departamento ____"
                [(ngModel)]="productor.direccionProductor"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Telefono del productor</mat-label>
              <span matPrefix>+57 &nbsp;</span>
              <input
                type="tel"
                matInput
                placeholder="333-333-3333"
                [(ngModel)]="productor.telefonoProductor"
              />
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Observaciones</mat-label>
          <textarea
            matInput
            [(ngModel)]="productor.observacionesProductor"
          ></textarea>
        </mat-form-field>
      </p>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nombre de Usuario</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="productor.nombreUsuario"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                [(ngModel)]="productor.contrasena"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <button
        class="bnt"
        mat-raised-button
        color="primary"
        (click)="registro()"
      >
        Ingresar
      </button>
    </mat-card>
  </div>
</div>
