<div class="login">
  <mat-card>
    <mat-card-title>Inicio de Sesión</mat-card-title>
    <mat-form-field class="example-form-field">
      <mat-label>Digita tu usuario</mat-label>
      <input matInput type="text" [(ngModel)]="usuario" />
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Digita tu contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="contrasena"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button class="bnt" mat-raised-button color="primary" (click)="onSubmit()">
      Ingresar
    </button>
  </mat-card>
</div>
