.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/fondoInicioSesion.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.card {
    color: white;
    margin: 0 1rem;
    padding: 2rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.45);
    border-radius: 12px;
}

.mat-mdc-form-field {
    width: 100%;
    color: white;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: white!important;
}

.form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.text-center {
    margin-top: 2rem;
}