.addFinca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    color: white;
    margin: auto;
    padding: 2rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.45);
    border-radius: 12px;
    text-align: -webkit-center;
}

.parent {
    width: 50rem;
    height: 50rem;
    place-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-image: url("/assets/fondoInicioSesion.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto!important;
}

.titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    align-self: center;
}

.btn {
    display: flex;
    align-self: center;
    margin: 2rem 0 0 0;
    width: 15rem;
}