<div class="container">
  <div class="card">
    <h1 class="title">Bienvenido al sistema de Zonas Promisorias</h1>
    <p class="subtitle">
      Sistema de información, georreferenciación de cultivos de aguacate y visualización de datos de cultivo en la
      región.
    </p>

    <div class="buttons">
      <button class="btn" mat-button (click)="irDatosPublicos()">Ver datos públicos</button>
      <button class="btn" mat-button (click)="irLogin()">Inicia sesión</button>
    </div>
  </div>
</div>