.tabla {
    margin: 2rem 3rem;
    width: 80%;
    table-layout: fixed;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    /* height: calc(100vh - 96px); */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/fondoInicio1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.titulo {
    color: white;
    margin: 2rem 3rem;
    padding: 2rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.45);
    border-radius: 12px;
}